In [57]:
n = 4 # choose the number of movies for the consideration in the top "n" movies study

In [58]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [59]:
#df = pd.read_excel("ratings_taha.xlsx")
#df = pd.read_csv("ratings_alame.csv")
df = pd.read_csv("ratings.csv")
df.head()

,Const,Your Rating,Date Rated,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,tt1001526,6,2016-03-26,Megamind,https://www.imdb.com/title/tt1001526/,movie,7.3,95.0,2010,"Animation, Action, Comedy, Crime, Family, Myst...",266713.0,2010-10-28,Tom McGrath
1,tt10062292,6,2022-12-19,Never Have I Ever,https://www.imdb.com/title/tt10062292/,tvSeries,7.9,30.0,2020,"Comedy, Drama",60236.0,2020-02-27,NaN
2,tt1010048,7,2022-10-08,Slumdog Millionaire,https://www.imdb.com/title/tt1010048/,movie,8.0,120.0,2008,"Crime, Drama, Romance",848648.0,2008-08-30,"Loveleen Tandan, Danny Boyle"
3,tt1013542,3,2022-10-08,The Cheetah Girls: One World,https://www.imdb.com/title/tt1013542/,tvMovie,4.6,90.0,2008,"Comedy, Drama, Family, Musical",4584.0,2008-08-12,Paul Hoen
4,tt1013752,5,2022-10-08,Fast & Furious,https://www.imdb.com/title/tt1013752/,movie,6.5,107.0,2009,"Action, Crime, Thriller",290248.0,2009-03-12,Justin Lin

In [60]:
df = df[["Directors","Your Rating"]]

In [61]:
df = df.dropna()
df. isna(). sum(). sum() 
df = df.reset_index()

In [62]:
for ind in df.index:
    element = df["Directors"][ind]
    directors_list = element.split(",")
    if len(directors_list) > 1:  
        for i in range(len(directors_list)):
            if i>0:
                df.loc[len(df.index)]=df.loc[ind]
                df.iloc[[len(df.index)-1],[1]] = directors_list[i][1:]
            else:
                df.iloc[[ind],[1]] = directors_list[0]

In [63]:
D = {}

for ind in df.index:
    element = df["Directors"][ind]
    rating = df["Your Rating"][ind]
    if element in D:
        D[element].append(rating)
    else:
        D[element]=[rating]

In [64]:
new_df = pd.DataFrame(columns=['Director', 'Number of Movies', 'Average Rating'])

for element in D:
    count = len(D[element])
    average = sum(D[element])/count
    new_df = new_df.append({'Director': element, 'Number of Movies': count, 'Average Rating': average}, ignore_index=True)

In [65]:
new_df_count = new_df.sort_values(by=['Number of Movies',"Average Rating"],ascending=False)

new_df_average = new_df.sort_values(by=['Average Rating',"Number of Movies"],ascending=False)

In [66]:
new_df_2_movies = new_df_count[new_df_count['Number of Movies'] == 2]
new_df_2_movies = new_df_2_movies.reset_index()
new_df_2_movies = new_df_2_movies.drop(columns=['index'])
new_df_2_movies.index += 1

new_df_count = new_df_count[new_df_count['Number of Movies'] >= 3]
new_df_count = new_df_count.reset_index()
new_df_count = new_df_count.drop(columns=['index'])
new_df_count.index += 1

new_df_average = new_df_average[new_df_average['Number of Movies'] >= 3]
new_df_average = new_df_average.reset_index()
new_df_average = new_df_average.drop(columns=['index'])
new_df_average.index += 1

In [67]:
def max_n(L,n):
    # returns the largest n elements of a list 
    max_list = []
    for i in range(n):
        x = max(L)
        max_list.append(x)
        L.remove(x)
    return max_list

In [68]:
D_tilda = {} # modified dictionary to only consider the first n movies 

for element in D:
    if len(D[element]) >= n:
        D_tilda[element] = max_n(D[element],n)

In [69]:
max_df = pd.DataFrame(columns=['Director', "Top "+str(n)+" Movies"])

for element in D_tilda:
    average = sum(D_tilda[element])/n
    max_df = max_df.append({'Director': element, "Top "+str(n)+" Movies": average}, ignore_index=True)

In [70]:
max_df = max_df.sort_values(by=["Top "+str(n)+" Movies"],ascending=False)
max_df= max_df.reset_index()
max_df = max_df.drop(columns=['index'])
max_df.index += 1
max_df["Top "+str(n)+" Movies"] = max_df["Top "+str(n)+" Movies"].round(2)

In [71]:
# A more fair sorting for like ratings:

max_df = max_df.set_index("Director")
new_df_average = new_df_average.set_index("Director")
max_df = pd.merge(max_df, new_df_average, left_index=True, right_index=True) 

max_df = max_df.sort_values(by=["Top "+str(n)+" Movies","Average Rating"],ascending=False)

max_df= max_df.reset_index()
max_df.index += 1
max_df = max_df.drop(columns=['Number of Movies','Average Rating'])

new_df_average = new_df_average.reset_index()
new_df_average.index += 1

In [72]:
new_df_count

                 Director Number of Movies  Average Rating
1            Wes Anderson               13        6.000000
2       Quentin Tarantino               11        6.000000
3         Martin Scorsese               11        5.454545
4       Christopher Nolan               11        5.454545
5       Steven Soderbergh               11        5.000000
6        David O. Russell               10        6.100000
7            Edgar Wright                9        5.888889
8               Paul Feig                9        5.333333
9               Sam Raimi                8        5.500000
10  Alejandro G. Iñárritu                7        6.857143
11          Todd Phillips                7        4.857143
12              Paul Hoen                7        3.428571
13        Ruben Fleischer                6        6.000000
14          David Fincher                6        5.666667
15        Damien Chazelle                6        5.666667
16        Martin McDonagh                5        8.000000
17             Adam McKay                5        5.400000
18              Jon Watts                5        5.000000
19           Marwan Hamed                5        3.400000
20            Danny Boyle                4        6.000000
21     Christopher Miller                4        6.000000
22              Phil Lord                4        6.000000
23             Ethan Coen                4        5.500000
24         John Krasinski                4        5.500000
25              Joel Coen                4        5.500000
26         Chris Columbus                4        5.000000
27       Steven Spielberg                4        5.000000
28            Judd Apatow                4        4.250000
29             Wes Craven                4        3.750000
30   Paul Thomas Anderson                4        3.750000
31        Stanley Kubrick                4        3.750000
32          Sharif Arafah                4        3.500000
33          Elie F. Habib                4        2.000000
34          James Cameron                3        6.000000
35   Francis Ford Coppola                3        6.000000
36         Matthew Vaughn                3        5.666667
37          James Mangold                3        5.666667
38             Justin Lin                3        5.000000
39             Shawn Levy                3        5.000000
40             Sam Mendes                3        4.666667
41             Ron Howard                3        4.666667
42     David Gordon Green                3        4.333333
43           Greta Gerwig                3        4.333333
44          Donald Petrie                3        4.333333
45         Gore Verbinski                3        4.333333
46          John Lasseter                3        4.000000
47           Dennis Dugan                3        3.666667
48              Ali Idris                3        3.666667
49         Stuart Gillard                3        3.000000
50           Kenny Ortega                3        3.000000
51            Nader Galal                3        2.333333
52            Shady Hanna                3        2.333333

In [73]:
new_df_average

                 Director Number of Movies  Average Rating
1         Martin McDonagh                5        8.000000
2   Alejandro G. Iñárritu                7        6.857143
3        David O. Russell               10        6.100000
4            Wes Anderson               13        6.000000
5       Quentin Tarantino               11        6.000000
6         Ruben Fleischer                6        6.000000
7             Danny Boyle                4        6.000000
8      Christopher Miller                4        6.000000
9               Phil Lord                4        6.000000
10          James Cameron                3        6.000000
11   Francis Ford Coppola                3        6.000000
12           Edgar Wright                9        5.888889
13          David Fincher                6        5.666667
14        Damien Chazelle                6        5.666667
15         Matthew Vaughn                3        5.666667
16          James Mangold                3        5.666667
17              Sam Raimi                8        5.500000
18             Ethan Coen                4        5.500000
19         John Krasinski                4        5.500000
20              Joel Coen                4        5.500000
21        Martin Scorsese               11        5.454545
22      Christopher Nolan               11        5.454545
23             Adam McKay                5        5.400000
24              Paul Feig                9        5.333333
25      Steven Soderbergh               11        5.000000
26              Jon Watts                5        5.000000
27         Chris Columbus                4        5.000000
28       Steven Spielberg                4        5.000000
29             Justin Lin                3        5.000000
30             Shawn Levy                3        5.000000
31          Todd Phillips                7        4.857143
32             Sam Mendes                3        4.666667
33             Ron Howard                3        4.666667
34     David Gordon Green                3        4.333333
35           Greta Gerwig                3        4.333333
36          Donald Petrie                3        4.333333
37         Gore Verbinski                3        4.333333
38            Judd Apatow                4        4.250000
39          John Lasseter                3        4.000000
40             Wes Craven                4        3.750000
41   Paul Thomas Anderson                4        3.750000
42        Stanley Kubrick                4        3.750000
43           Dennis Dugan                3        3.666667
44              Ali Idris                3        3.666667
45          Sharif Arafah                4        3.500000
46              Paul Hoen                7        3.428571
47           Marwan Hamed                5        3.400000
48         Stuart Gillard                3        3.000000
49           Kenny Ortega                3        3.000000
50            Nader Galal                3        2.333333
51            Shady Hanna                3        2.333333
52          Elie F. Habib                4        2.000000

In [74]:
new_df_2_movies

            Director Number of Movies  Average Rating
1       Ridley Scott                2             9.0
2     Frank Darabont                2             8.5
3       Rian Johnson                2             8.5
4     Bennett Miller                2             8.0
5         Mel Gibson                2             8.0
..               ...              ...             ...
59      Raja Gosnell                2             2.0
60          Dan Kwan                2             2.0
61  Daniel Scheinert                2             2.0
62        James Wong                2             1.5
63     Nadim Mehanna                2             1.0

[63 rows x 3 columns]

In [75]:
max_df

                 Director  Top 4 Movies
1        David O. Russell          8.50
2         Martin McDonagh          8.25
3   Alejandro G. Iñárritu          8.25
4       Quentin Tarantino          8.25
5            Wes Anderson          7.50
6            Edgar Wright          7.50
7       Steven Soderbergh          7.00
8         Ruben Fleischer          6.75
9               Sam Raimi          6.75
10              Paul Feig          6.75
11        Damien Chazelle          6.50
12      Christopher Nolan          6.50
13        Martin Scorsese          6.50
14          David Fincher          6.25
15     Christopher Miller          6.00
16            Danny Boyle          6.00
17              Phil Lord          6.00
18             Adam McKay          5.75
19             Ethan Coen          5.50
20         John Krasinski          5.50
21              Joel Coen          5.50
22          Todd Phillips          5.50
23              Jon Watts          5.25
24       Steven Spielberg          5.00
25         Chris Columbus          5.00
26            Judd Apatow          4.25
27        Stanley Kubrick          3.75
28   Paul Thomas Anderson          3.75
29             Wes Craven          3.75
30              Paul Hoen          3.75
31           Marwan Hamed          3.75
32          Sharif Arafah          3.50
33          Elie F. Habib          2.00